html {
  background-color: #FFFFFF;
  font-family: "Silkscreen";
  padding: 0px;
}

body{
  margin: auto;
}
p {
  margin: auto;
}

img {

}
@media screen and (max-width: 600px) {

.hours {
  display: flex;
  padding-top:40px;
}

.hours p {
  padding-left: 20px;
}

.location {
  display: flex;
  padding-top: 10px;
}
.topnav {
  background-color: #000000;
  overflow-x: hidden;
  padding-left: 40px;
  padding-bottom: 10px;
  display: flex;
  width: 320px;
  height: 40px;
  position: relative;
  z-index: 1;
}

.mapimg {
  width: 300px;
}

.topnav a {
  padding: 17px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  color: #f1f1f1;
}

.topnav a:hover {
  color: #000000;
}

.topnav img {
  width: 50px;
  height: 50px;
  padding-top: 8px;
}

.fb {
  position: absolute;
  z-index: 3;
  width: 50px;
  height: 50px;
  left: 335px;
  top: 20px;
}
.logo {
  background-color: #f1f1f1;
  color: #000000;
  font-size: 30px;
  padding-left: 20px;
  padding-bottom:25px;
  font-family: "Sarina", sans-serif;
  position: relative;
  display: flex;
  z-index: 2;
}

.logo p {
  padding-top: 30px;
}

.phone {
  font-family: "Anek Telugu", sans-serif;
  font-size: 16px;
}
.bar {
  background-color: #000000;
  position: relative;
  height: 30px;
  margin: 0px;
}

.bottomimg {
  width: 300px;
  padding-left: 100px;
}

.krempel {
  width: 450px;
}

.menu {
  padding: 30px;
  padding-bottom: 10px;
  width: 60%;
  font-size: 26px;
}

/* Menu */
.menu-1 {
  display: flex;
}

.menu-1 img {
  width: 150px;
  align-content: center;
  padding: 10px;
  padding-left: 35px;
}

.menu-text1 {
  display: flex;
}

.menu-2 {
  display: flex;
}

.menu-2 img {
  width: 150px;
  align-content: center;
  padding: 10px;
  padding-left: 35px;
}

.menu-text2 {
  display: flex;
}

}

@media screen and (min-width: 601px) {
.topnav {
  background-color: #000000;
  overflow-x: hidden;
  padding-left: 20px;
  padding-bottom: 10px;
  display: flex;
  width: 700px;
  height: 40px;
  position: relative;
  z-index: 1;
}

.topnav a {
  padding: 17px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  color: #f1f1f1;
  justify-content:
}

.topnav a:hover {
  color: #000000;
}

.topnav img {
  width: 50px;
  height: 50px;
  padding-top: 8px;
}

.fb {
  position: absolute;
  z-index: 3;
  width: 50px;
  height: 50px;
  left: 595px;
  top: 20px;
}
.logo {
  background-color: #f1f1f1;
  color: #000000;
  font-size: 30px;
  padding-left: 10px;
  padding-bottom:25px;
  font-family: "Sarina", sans-serif;
  position: relative;
  display: flex;
  z-index: 2;
}

.logo p {
  padding-top: 30px;
}

.phone {
  font-family: "Anek Telugu", sans-serif;
  font-size: 16px;
}
.bar {
  background-color: #000000;
  position: relative;
  height: 30px;
  margin: 0px;
}

.krempel {
  width: 100%;
}

.menu {
  padding: 30px;
  width: 60%;
  bottom: 30px;
  font-weight: bold;
}

/* Menu */
.menu-1 {
  display: flex;
}

.menu-1 img {
  width: 150px;
  align-content: center;
  padding: 10px;
  padding-left: 350px;
}

.menu-text1 {
  display: flex;
  padding-left: 250px;
}

.menu-2 {
  display: flex;
}

.menu-2 img {
  width: 150px;
  align-content: center;
  padding: 10px;
  padding-left: 350px;
}

.menu-text2 {
  display: flex;
  padding-left: 250px;
}

}
